<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Animal Sound
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefreshAnimals($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list reorder="true" (ionItemReorder)="reorderAnimals($event)">
    <ion-item-sliding *ngFor="let animal of animals" (click)="playSound(animal)">
      <button ion-item detail-none>
        <ion-avatar item-left>
          <img [src]="animal.image">
        </ion-avatar>
        <ion-icon name="play" item-right *ngIf="!animal.isPlaying"></ion-icon>
        <ion-icon name="pause" item-right *ngIf="animal.isPlaying"></ion-icon>
        <h2>{{animal.name}}</h2>
      </button>
      <ion-item-options side="right">
        <button ion-button color="info">
          <ion-icon name="information"></ion-icon>
          Info
        </button>
        <button ion-button color="danger" (click)="deleteAnimal(animal.id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>